.product-tile-container {
    width: 100%;
    height: 100%;
    min-height: 425px;
    box-shadow: 0px 15px 50px 0px #FF509940;
    background: var(--white);
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-4px);
    }

    .pt-label {
        position: absolute;
        width: fit-content;
        height: fit-content;
        background: var(--white);
        border-radius: 4px;
        padding: 4px 8px;
        font: 400 10px var(--font);
        color: var(--primary-dark);
        margin: 0;
        top: 24px;
        left: 28px;
    }

    .prd-image {
        width: 100%;
        height: 264px;
        border-radius: 16px;
        object-fit: cover;
    }

    .product-details-con {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 18px;

        .prd-name {
            font: 400 14px var(--font);
            color: var(--primary-dark);
            margin-bottom: 10px;
        }

        .prd-price {
            font: 600 16px var(--font);
            color: var(--primary-dark);
            margin-bottom: 10px;
        }

        .btn-section-con {
            flex: 1;
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}