.hero-section-container {
    width: 100%;
    height: 540px;
    column-gap: 18px;
    margin-bottom: 154px;

    .left-side-container {
        width: 348px;
        height: 498px;

        .bg-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px 20px 20px 40px;
        }
    }

    .hero-image-slider-container {
        width: 432px;
        height: 100%;
        border-radius: 20px;

        .swiper {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            top: auto;
            bottom: 20px;
            background: rgba(255, 255, 255, 0.8);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            
            &::after {
                font-size: 16px;
                color: #333;
            }
        }

        .swiper-button-prev {
            left: 30%;
        }

        .swiper-button-next {
            right: 30%;
        }
    }

    .right-side-container {
        width: 348px;
        height: 498px;

        .bg-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 40px 40px 20px;
        }
    }
    
}