.bundles-home-container {
    margin: 30px auto 34px auto;
    width: 862px;
    height: 338px;
    border-radius: 22px;
    background: var(--primary-pink);
    position: relative;
    box-shadow: 0px 16px 16px 0px #FF408E33;

    .bg-image {
        width: 100%;
        height: 100%;
        border-radius: 22px;
    }

    .website-exclusive {
        position: absolute;
        width: 86px;
        height: 55px;
        left: 26px;
        top: 26px;
    }

    .badge-con {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -12px;
        width: 132px;
        height: 43px;

        img {
            width: 100%;
            height: 100%;
        }

        .badge-text {
            font: 600 17px var(--font);
            color: var(--white);
            position: absolute;
            left: 51%;
            top: 31%;
            transform: translateX(-50%) translateY(-50%);
            width: 87px;
        }
    }

    .badge-content-section {
        width: 85%;
        height: fit-content;
        position: absolute;
        left: 50%;
        top: 54%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            &:nth-child(1) {
                font: 400 26px var(--font);
                color: var(--white);
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            }

            &:nth-child(2) {
                font: 600 42px var(--font);
                color: var(--white);
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                margin-top: -18px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

        }

        .images-flash-container {
            width: fit-content;
            height: fit-content;
            display: flex;
            margin-top: -15px;

            img {
                &:nth-child(1) {
                    width: 172px;
                    height: 87px;
                }

                &:nth-child(3) {
                    width: 224px;
                    height: 72px;
                    margin-left: -8px;
                }
            }

            span {
                font: 300 26px var(--font);
                color: var(--white);
                transform: rotate(-6deg);
            }
        }
    }
}

.bundles-details-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 34px;

    .bundle-details-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 14px;

        .text-container {
            display: flex;
            flex-direction: column;

            .heading {
                font: 400 18px var(--font);
                color: var(--primary-dark);
                margin: 0;
            }

            .sub-heading {
                font: 400 16px var(--font);
                color: var(--primary-dark);
                margin: 0;
            }
        }
    }
}

.description-item {
    font: 400 12px var(--font);
    color: var(--primary-dark);
    margin: 34px 0;
    text-align: center;
}

#bundlesuggestionsmodal {
    width: 600px;
    box-shadow: -16px 0px 16px 0px #3720354D;
    border-radius: 24px 0 0 24px;
    padding: 48px;
    display: flex;
    flex-direction: column;

    .heading-and-filter-section {
        flex: 1;
    }

    .heading-section-container {
        margin-bottom: 34px;

        .label-skip-con {
            margin-bottom: 16px;

            .label-sec {
                width: fit-content;
                height: fit-content;
                background: var(--pink-shade-active);
                border-radius: 6px;
                padding: 4px 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                font: 600 10px var(--font);
                color: var(--white);
                column-gap: 6px;
                margin: 0;

                svg {
                    width: 16px;
                    height: 16px;
                    stroke: var(--primary-pink);
                    background: var(--white);
                    border-radius: 50%;
                }
            }

            .skip {
                font: 400 14px var(--font);
                color: var(--primary-dark);
                opacity: 70%;
                cursor: pointer;
                margin: 0;
            }
        }
        
        .heading-txt {
            font: 500 40px var(--font);
            color: var(--primary-dark);
        }

        .sub-heading-txt {
            font: 400 12px var(--font);
            color: var(--primary-dark);
            opacity: 70%;
        }
    }

    .filter-section-container {
        .filter-label-section {
            margin-top: 32px;

            .filter-label {
                font: 400 16px var(--font);
                color: var(--primary-dark);
                margin-bottom: 10px;
            }

            .label-con {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: fit-content;
                height: fit-content;
                gap: 10px;

                .filter-label-item {
                    width: fit-content;
                    height: fit-content;
                    padding: 4px 8px;
                    border-radius: 8px;
                    background: none;
                    border: 1.5px solid #D5D7DA;
                    outline: none;
                    font: 400 14px var(--font);
                    color: var(--gray);

                    &.active {
                        background: var(--pink-dark);
                        color: var(--white);
                        border: 1.5px solid var(--pink-dark);
                    }
                }
            }
        }
    }

    .footer-section {
        width: 100%;
        height: fit-content;

        .info-txt {
            display: flex;
            column-gap: 6px;
            font: 400 12px var(--font);
            color: var(--primary-dark);
            opacity: 70%;
            margin-bottom: 14px;
        }

        .buttons-con {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 18px;
        }
    }
}