.hero-text-section-container {
    margin-bottom: 154px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
        font: 300 50px var(--font);
        color: var(--primary-dark);
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(2) {
            transform: translateX(-40px);
        }

        &:nth-child(3) {
            transform: translateX(84px);
        }

        &:nth-child(4) {
            transform: translateX(114px);
        }

        .check {
            width: 58px;
            height: 58px;
        }

        span.strike-one {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background: url('../../assets/HeroText/strike1.svg');
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                top: 100%;
                left: 0;
            }
        }

        span.strike-two {
            position: relative;
            margin-left: 10px;
            margin-right: 10px;

            &::after {
                content: '';
                position: absolute;
                background: url('../../assets/HeroText/strike2.svg');
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                top: 100%;
                left: 0;
            }
        }
    }

    .pink-round-container {
        position: absolute;
        right: 85px;
        top: 0;
        width: 130px;
        height: 130px;

        .bg-image {
            width: 100%;
            height: 100%;
        }
    }
}