.hero-text-section-container {
    margin-bottom: 154px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
        font: 300 50px var(--font);
        color: var(--primary-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        will-change: transform;
        transition: transform 0.9s ease-out;

        &:nth-child(2) {
            /* transform: translateX(-40px); - now handled by inline style */
        }

        &:nth-child(3) {
            /* transform: translateX(84px); - now handled by inline style */
        }

        &:nth-child(4) {
            /* transform: translateX(114px); - now handled by inline style */
        }

        .check {
            width: 58px;
            height: 58px;
        }

        span.strike-one {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background: url('../../assets/HeroText/strike1.svg');
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                top: 100%;
                left: 0;
            }
        }

        span.strike-two {
            position: relative;
            margin-left: 10px;
            margin-right: 10px;

            &::after {
                content: '';
                position: absolute;
                background: url('../../assets/HeroText/strike2.svg');
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                top: 100%;
                left: 0;
            }
        }
    }

    .pink-round-container {
        width: 150px;
        height: 150px;
        box-shadow: 0px 7.35px 80.85px 0px #FF5099BF;
        border-radius: 50%;

        .bg-image {
            width: 175px;
            height: 175px;
            position: absolute;
            top: -16px;
            left: -13px;
        }
    }

    .pink-round-section {
        position: absolute;
        right: 180px;
        top: 0;

        .flower {
            width: 45px;
            height: 48px;
            position: absolute;
            right: 0;
            top: 0;
        }

        .pink-round-text {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            .loved-by {
                font: 700 15px var(--font-quick);
                color: var(--white);
            }

            .count {
                font: 700 29px var(--font-quick);
                color: var(--white);
            }

            .moms-text {
                font: 700 23px var(--font-quick);
                color: var(--pink-dark);
                width: fit-content;
                height: fit-content;
                background: var(--white);
                padding: 3px 8px;
                border-radius: 6px;
            }
        }
    }

    
}