.breadcrumbs-cart-section {
    width: fit-content;
    height: fit-content;
    background: var(--white);
    box-shadow: 0px 16px 16px 0px #FF408E1A;
    border-radius: 6px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin: 0 auto 12px auto;

    svg {
        width: 12px;
        height: 12px;
        stroke: var(--primary-dark);
    }

    a {
        font: 400 12px var(--font);
        color: var(--primary-dark);
        cursor: pointer;
        text-decoration: none;
    }

    span {
        font: 400 12px var(--font);
        color: var(--primary-pink);
        text-decoration: none;
    }
}

.cart-heading {
    font: 600 40px var(--font);
    color: var(--primary-dark);
    margin-bottom: 34px;
    text-align: center;
}

.cart-items-summary-main-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 15px 50px 0px #FF509940;
    border-radius: 16px;
    background: var(--white);
    margin-bottom: 72px;

    .cart-items-container {
        flex: 1;
    }

    .cart-summary {
        width: 360px;
        min-height: 456px;
        height: fit-content;
        box-shadow: 0px 15px 50px 0px #FF509940;
        border-radius: 0 16px 16px 0;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .summary-header {
            width: 100%;
            height: fit-content;

            .summary-items {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                border-bottom: 1px solid var(--pink-border);
                padding-bottom: 16px;
                margin-bottom: 16px;

                .summary-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .left {
                        font: 400 16px var(--font);
                        color: var(--primary-dark);

                        &.active {
                            color: var(--primary-pink);
                        }
                    }

                    .right {
                        font: 500 16px var(--font);
                        color: var(--primary-light);

                        &.active {
                            color: var(--primary-pink);
                        }
                    }
                }
            }

            .add-notes-container {
                p {
                    font: 400 12px var(--font);
                    color: var(--primary-dark);
                    margin-bottom: 8px;
                }

                textarea {
                    width: 100%;
                    height: 73px;
                    border: 1.5px solid var(--gray-dark);
                    border-radius: 8px;
                    padding: 8px 12px;
                    font: 400 12px var(--font);
                    color: var(--gray);
                    resize: none;
                    outline: none;
                }
            }
        }

        .summary-footer {
            width: 100%;

            .total-section {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid var(--pink-border);
                margin-bottom: 16px;
                padding-bottom: 16px;

                span {
                    font: 600 20px var(--font);
                    color: var(--primary-dark);
                }
            }

            .tax-description {
                font: 400 14px var(--font);
                color: var(--primary-dark);
                margin-bottom: 12px;
            }

            .checkout-btn {
                column-gap: 10px;
                box-shadow: none;
                height: 40px;
            }
        }
    }
}