.video-section-heading {
    font: 800 36px var(--font);
    color: var(--primary-dark);
    text-align: center;
}

.video-container {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    background: var(--primary-dark);
    border-radius: 28px;
    padding: 8px;
    box-shadow: 0px 15px 50px 0px #FF509940;

    .video {
        background: var(--primary-pink);
        border-radius: 23px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            width: 64px;
            height: 64px;
            color: var(--white);
            fill: var(--white);
        }
    }
}