.bundles-recommended-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;

    .head-ing {
        font: 600 32px var(--font);
        color: var(--primary-dark);
        text-align: center;
    }

    .labels-con {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 14px;

        .label-item {
            width: fit-content;
            height: fit-content;
            background: var(--white);
            border-radius: 6px;
            box-shadow: 0px 8px 12px 0px #FF509926;
            padding: 4px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 6px;

            span {
                font: 600 10px var(--font);
                color: var(--primary-dark);
            }
        }
    }
}

.bundle-recommented-item-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
    height: 560px;
    position: relative;

    .flakes-con {
        width: 366px;
        height: 560px;
        position: absolute;
        z-index: 0;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.8s ease;
        transition-delay: 0.2s;

        &.moved {
            transform: translateX(-93%);
        }

        .flakes1 {
            position: absolute;
            left: -170px;
            top: 0;
            z-index: 0;
        }

        .flakes2 {
            position: absolute;
            right: -228px;
            top: -74px;
            z-index: 0;
        }

        .flakes3 {
            position: absolute;
            left: 50%;
            top: -100px;
            transform: translateX(-50%);
            z-index: 0;
        }

        .flakes4 {
            position: absolute;
            right: -103px;
            top: -64px;
        }
    }

    .bundle-recommented-item-details {
        width: 366px;
        height: 560px;
        background: linear-gradient(347.33deg, #FFF6F8 17.08%, #EBA4B9 98.7%);
        box-shadow: 0px 15px 50px 0px #FF509940;
        border-radius: 24px;
        position: relative;
        padding: 34px;
        transition: all 0.8s ease;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);

        &.moved {
            transform: translateX(-92%);
        }

        .label-sec-con {
            position: absolute;
            right: -4px;
            top: -4px;
            width: 242px;
            height: 242px;

            img {
                width: 100%;
                height: 100%;
            }

            p {
                font: 600 20px var(--font);
                color: var(--white);
                margin: 0;
                position: absolute;
                top: 36%;
                left: 56%;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
                transform-origin: center center;
            }
        }

        .headinf-sec-container {
            .label {
                width: fit-content;
                height: fit-content;
                background: var(--green);
                border: 2px solid var(--white);
                border-radius: 6px;
                padding: 4px 8px;
                font: 600 10px var(--font);
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 6px;
                margin-bottom: 12px;
            }

            .head-txt {
                font: 600 20px var(--font);
                color: var(--primary-dark);
                margin-bottom: 12px;
            }

            .recom-labels {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: fit-content;
                flex-wrap: wrap;
                gap: 6px;
                margin-bottom: 12px;

                .label-item {
                    width: fit-content;
                    height: fit-content;
                    background: var(--white);
                    border-radius: 4px;
                    padding: 4px 8px;
                    font: 400 10px var(--font);
                    color: var(--pink-darker);
                    margin: 0;
                }
            }

            .price-section-con {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: fit-content;

                .price-sec {
                    border: 1.5px solid var(--white);
                    background: linear-gradient(90deg, var(--orange-shade) 0%, var(--orange-shde-2) 100%);
                    width: 72px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px 0 0 8px;
                    font: 600 16px var(--font);
                    color: var(--primary-dark);
                    padding: 4px 8px;
                }

                .price-desc {
                    border: 1.5px solid var(--white);
                    background: linear-gradient(90deg, #FFA800 0%, #FFC554 100%);
                    flex: 1;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 8px 8px 0;
                    font: 500 9px var(--font);
                    color: var(--black);
                    padding: 4px 8px;
                }
            }
        }

        .bundles-recom-tile-footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 244px;
                height: 214px;
            }

            .check-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 10px;
                width: 100%;

                #checkbox-bundle-tile {
                    width: 16px;
                    height: 16px;
                    border-radius: 6px;
                    background: #D85A7F;
                    appearance: none;
                    -webkit-appearance: none;
                    cursor: pointer;
                    position: relative;
                    border: none;
                    outline: none;
                }

                #checkbox-bundle-tile:checked::after {
                    content: '✓';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                }

                span {
                    font: 400 12px var(--font);
                    color: var(--primary-dark);
                }
            }
        }
    }

    .bundle-recommented-item-details-optional {
        width: 236px;
        height: 454px;
        box-shadow: 0px 15px 50px 0px #FF509940;
        background: var(--white);
        border-radius: 24px;
        padding: 26px;
        transition: all 0.8s ease;
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);

        &.moved {
            transform: translateX(60%);
        }

        .close-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            .label-div {
                width: fit-content;
                height: fit-content;
                padding: 4px 10px;
                border-radius: 6px;
                font: 400 10px var(--font);
                color: var(--primary-dark);
                background: var(--orange);
            }

            .close-btn {
                width: 18px;
                height: 18px;
                stroke: var(--pink-darker);
                cursor: pointer;
            }
        }

        .head-ing {
            font: 600 20px var(--font);
            color: var(--primary-dark);
            margin-bottom: 16px;
        }

        .box-img {
            width: 111px;
            height: 90px;
            margin-bottom: 16px;
        }

        .description {
            font: 400 12px var(--font);
            color: var(--primary-dark);
            margin-bottom: 16px;
        }

        .labels {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 6px;
            margin-bottom: 16px;

            .label {
                width: fit-content;
                height: fit-content;
                border: 1px solid var(--pink-dark);
                padding: 4px 8px;
                border-radius: 4px;
                font: 400 10px var(--font);
                color: var(--pink-darker);
                margin: 0;
            }
        }

        .btns-con {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 16px;
        }
    }
}