.wishlist-product-tile-container {
    width: 100%;
    height: 100%;
    min-height: 425px;
    box-shadow: 0px 15px 50px 0px #FF509940;
    background: var(--white);
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: translateY(-4px);
    }

    .wpt-label {
        position: absolute;
        width: fit-content;
        height: fit-content;
        background: var(--white);
        border-radius: 4px;
        padding: 4px 8px;
        font: 400 10px var(--font);
        color: var(--primary-dark);
        margin: 0;
        top: 24px;
        left: 28px;
    }

    .wishlist-prd-image {
        width: 100%;
        height: 264px;
        border-radius: 16px;
        object-fit: cover;
    }

    .wishlist-product-details-con {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 18px;
        flex: 1;

        .wishlist-prd-name {
            font: 400 14px var(--font);
            color: var(--primary-dark);
            margin-bottom: 10px;
        }

        .wishlist-prd-price {
            font: 600 16px var(--font);
            color: var(--primary-dark);
            margin-bottom: 10px;
        }

        .wishlist-btn-section-con {
            flex: 1;
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            flex: 1;

            .wishlist-add-to-bag {
                box-shadow: none;
                width: fit-content;
                height: 36px;
                padding: 10px 14px;
            }

            .remove-item {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                box-shadow: none;
            }
        }
    }
}
