.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;

    h1 {
        font: 600 40px var(--font);
        color: var(--primary-dark);
        margin-bottom: 20px;
        text-align: center;
    }

    h2 {
        font: 400 16px var(--font);
        color: var(--primary-pink);
        letter-spacing: 12px;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    .description {
        font: 400 16px var(--font);
        color: var(--primary-dark);
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 1023px) {
    .heading-container {

        h1 {
            font: 400 32px var(--font);
        }

        h2 {
            font: 400 10px var(--font);
        }

        .description {
            font: 400 14px var(--font);
        }
    }
}