#AuthenticationModal {
    width: 600px;
    background: var(--white);
    box-shadow: -16px 0px 16px 0px #3720354D;
    border-radius: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 32px; */

    .mf-off-canvas-header {
        width: 100%;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--pink-border);

        .head-ing {
            font: 500 24px var(--font);
            color: var(--primary-dark);
            margin: 0;
        }

        .close-btn {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--primary-pink);
            outline: none;
            background: var(--white);

            svg {
                width: 24px;
                height: 24px;
                min-width: 24px;
                min-height: 24px;
                stroke: var(--black);
            }
        }
    }

    .login-modal-body-con {
        flex: 1;
        padding: 32px;

        .tab-switching-container {
            width: 100%;
            height: 40px;
            background: var(--pink-border);
            border-radius: 8px;
            padding: 6px 4px;
            display: flex;
            position: relative;

            .toggle-slider {
                width: 49%;
                height: calc(100% - 8px);
                background: var(--white);
                border-radius: 6px;
                position: absolute;
                left: 4px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                transition: all 0.6s ease;

                &.right {
                    transform: translateX(101%) translateY(-50%);
                }

                &.left {
                    transform: translateX(0) translateY(-50%);
                }
            }

            button {
                width: 50%;
                height: 100%;
                background: none;
                outline: none;
                border: none;
                font: 500 14px var(--font);
                color: var(--primary-dark);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 2;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    color: var(--primary-pink);
                }
            }
        }

        .email-login-main-container {
            margin-top: 44px;
        }

        .mobile-login-main-container {
            margin-top: 44px;
        }

        .login-otp-section-container {

            .otp-heading {
                font: 500 20px var(--font);
                color: var(--primary-dark);
                /* margin: 0 0 8px 0; */
            }

            .otp-contact {
                font: 400 20px var(--font);
                color: var(--primary-pink);
                margin: 0 0 32px 0;
            }

            .otp-inputs-container {
                display: flex;
                gap: 12px;
                margin-bottom: 24px;

                .otp-input {
                    width: 40px;
                    height: 40px;
                    border: 1.5px solid var(--gray-dark);
                    border-radius: 8px;
                    padding: 8px 12px;
                    text-align: center;
                    font: 600 20px var(--font);
                    color: var(--primary-dark);
                    outline: none;
                    transition: all 0.3s ease;

                    &::placeholder {
                        color: var(--gray);
                    }

                    /* &:focus {
                        border-color: var(--primary-pink);
                        box-shadow: 0 0 0 3px rgba(220, 95, 146, 0.1);
                    } */

                    /* &:not(:placeholder-shown) {
                        border-color: var(--primary-pink);
                    } */
                }
            }

            .otp-resend-text {
                font: 400 14px var(--font);
                color: var(--black);
                margin: 0 0 32px 0;

                .resend-link {
                    color: var(--primary-pink);
                    cursor: pointer;
                    font-weight: 500;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .otp-submit-btn {
                box-shadow: none;
                width: 100%;
            }
        }
    }

    .login-modal-footer {
        width: 100%;
        height: fit-content;
        padding: 32px;

        .login-alternate-button-section {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            button {
                width: 100%;
                height: 44px;
                border: 1px solid var(--gray-dark);
                outline: none;
                background: var(--white);
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 14px;
                font: 400 14px var(--font);
                color: var(--primary-dark);
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    border-color: var(--primary-pink);
                    background: var(--pink-shade);
                    transform: translateY(-2px);
                    box-shadow: 0px 6px 12px rgba(220, 95, 146, 0.15);
                }

                &:active {
                    transform: translateY(0);
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .login-sucess-screen-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 224px;
            height: 180px;
        }

        .text {
            font: 500 20px var(--font);
            color: var(--primary-dark);
            text-align: center;
        }

        a {
            box-shadow: none;
            width: fit-content;
            height: 40px;
            margin-top: 24px;
            text-decoration: none;
        }
    }
}