.chatbot-main-container {
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 10;
}

.chat-bot-trigger {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0px 4px 4px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floating 5s ease-in-out infinite;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .active-icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: var(--green);
        border: 2px solid var(--white);
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    0% {
        transform: translateY(0);
    }
}