#bundlesuggestionsmodal {
    width: 600px;
    box-shadow: -16px 0px 16px 0px #3720354D;
    border-radius: 24px 0 0 24px;
    padding: 48px;
    display: flex;
    flex-direction: column;

    .heading-and-filter-section {
        flex: 1;
    }

    .heading-section-container {
        margin-bottom: 34px;

        .label-skip-con {
            margin-bottom: 16px;

            .label-sec {
                width: fit-content;
                height: fit-content;
                background: var(--pink-shade-active);
                border-radius: 6px;
                padding: 4px 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                font: 600 10px var(--font);
                color: var(--white);
                column-gap: 6px;
                margin: 0;

                svg {
                    width: 16px;
                    height: 16px;
                    stroke: var(--primary-pink);
                    background: var(--white);
                    border-radius: 50%;
                }
            }

            .skip {
                font: 400 14px var(--font);
                color: var(--primary-dark);
                opacity: 70%;
                cursor: pointer;
                margin: 0;
            }
        }
        
        .heading-txt {
            font: 500 40px var(--font);
            color: var(--primary-dark);
        }

        .sub-heading-txt {
            font: 400 12px var(--font);
            color: var(--primary-dark);
            opacity: 70%;
        }
    }

    .filter-section-container {
        .filter-label-section {
            margin-top: 32px;

            .filter-label {
                font: 400 16px var(--font);
                color: var(--primary-dark);
                margin-bottom: 10px;
            }

            .label-con {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: fit-content;
                height: fit-content;
                gap: 10px;

                .filter-label-item {
                    width: fit-content;
                    height: fit-content;
                    padding: 4px 8px;
                    border-radius: 8px;
                    background: none;
                    border: 1.5px solid #D5D7DA;
                    outline: none;
                    font: 400 14px var(--font);
                    color: var(--gray);

                    &.active {
                        background: var(--pink-dark);
                        color: var(--white);
                        border: 1.5px solid var(--pink-dark);
                    }
                }
            }
        }
    }

    .footer-section {
        width: 100%;
        height: fit-content;

        .info-txt {
            display: flex;
            column-gap: 6px;
            font: 400 12px var(--font);
            color: var(--primary-dark);
            opacity: 70%;
            margin-bottom: 14px;
        }

        .buttons-con {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 18px;
        }
    }
}