.header {
    background: #ffffff91;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    .logo-container {
        width: 108px;
        height: auto;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .menu-container {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 32px;

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            background: #37203533;
        }

        a {
            font: 400 14px var(--font);
            color: var(--primary-dark);
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            padding: 6px 10px;
            border-radius: 8px;
            overflow: hidden;
            transition: color 0.3s ease;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: linear-gradient(218.44deg, #FD8CBB 4.36%, #DC5F92 86.2%);
                border-radius: 8px;
                transition: left 0.4s ease;
                z-index: -1;
            }

            &:hover::before {
                left: 0;
            }

            &:hover {
                color: var(--white);
            }

            &.active {
                background: linear-gradient(218.44deg, #FD8CBB 4.36%, #DC5F92 86.2%);
                color: var(--white);
                padding: 6px 10px;
                border-radius: 8px;
            }

            &.active::before {
                display: none;
            }
        }
    }

    .menu-action-icons-container {
        width: fit-content;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 32px;

        .icon {
            width: 24px;
            min-width: 24px;
            height: 24px;
            min-height: 24px;
            stroke: var(--primary-dark);
            cursor: pointer;
        }
    }
}