.header {
    background: var(--white);
    backdrop-filter: blur(50px);
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo-container {
        width: 108px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu-container {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 32px;

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            background: #37203533;
        }

        a {
            font: 400 14px var(--font);
            color: var(--primary-dark);
            text-transform: uppercase;
            text-decoration: none;

            &.active {
                background: linear-gradient(218.44deg, #FD8CBB 4.36%, #DC5F92 86.2%);
                color: var(--white);
                padding: 6px 10px;
                border-radius: 8px;
            }
        }
    }

    .menu-action-icons-container {
        width: fit-content;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 32px;
    }
}