.momsreview-section-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .head-ing {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 1;
        height: fit-content;

        h1 {
            font: 500 32px var(--font);
            color: var(--primary-dark);
            margin: 0;
        }

        h2 {
            font: 400 14px var(--font);
            color: var(--primary-dark);
            margin: 0;
        }
    }

    .slider-navigation {
        width: fit-content;
        height: fit-content;
        display: flex;
        column-gap: 16px;

        button {
            width: 40px;
            height: 40px;
            border-radius: 12px;
            background: #DC5F9233;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                stroke: var(--primary-dark);
                stroke-width: 1.5;
                width: 20px;
                height: 20px;
            }
        }
    }
}