#MiniCartModal {
    width: 600px;
    background: var(--white);
    box-shadow: -16px 0px 16px 0px #3720354D;
    border-radius: 24px 0 0 24px;
    display: flex;
    flex-direction: column;

    .mf-off-canvas-header {
        width: 100%;
        height: fit-content;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--pink-border);

        .head-ing {
            font: 500 24px var(--font);
            color: var(--primary-dark);
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;

            .cart-items-count {
                width: fit-content;
                height: fit-content;
                background: linear-gradient(90deg, #FFA800 0%, #FFC554 100%);
                border-radius: 8px;
                padding: 2px 4px;
                font: 600 16px var(--font);
                color: var(--primary-dark);
            }
        }

        .close-btn {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--primary-pink);
            outline: none;
            background: var(--white);

            svg {
                width: 24px;
                height: 24px;
                min-width: 24px;
                min-height: 24px;
                stroke: var(--black);
            }
        }
    }

    .mini-cart-modal-body {
        flex: 1;
        width: 100%;
        overflow-y: auto;
        padding: 32px;
        
        &::-webkit-scrollbar {
            width: 3px;
        }

        .cart-items-list {
            .cart-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: fit-content;
                column-gap: 12px;
                border-bottom: 1px solid var(--pink-border);
                padding: 16px 0;

                &:first-child {
                    padding-top: 0;
                }

                .image-container {
                    width: 72px;
                    height: 72px;
                    border-radius: 12px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                    }
                }

                .item-details-sec {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    row-gap: 8px;

                    .item-name {
                        font: 400 16px var(--font);
                        color: var(--primary-dark);
                        margin: 0;
                    }

                    .item-price {
                        font: 600 16px var(--font);
                        color: var(--primary-light);
                        margin: 0;
                    }
                }

                .items-actions-container {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    row-gap: 4px;

                    .item-quantity {
                        width: fit-content;
                        min-width: 116px;
                        height: 40px;
                        border: 1px solid var(--pink-border1);
                        border-radius: 8px;
                        padding: 4px;
                        display: flex;
                        column-gap: 4px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        button {
                            width: 32px;
                            height: 32px;
                            border-radius: 6px;
                            background: var(--pink-border);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:hover {
                                background: linear-gradient(135deg, #FD8CBB 0%, #DC5F92 100%);
                                transform: scale(1.1);
                                box-shadow: 0px 4px 8px rgba(220, 95, 146, 0.3);

                                svg {
                                    stroke: var(--white);
                                }
                            }

                            &:active {
                                transform: scale(1);
                            }

                            svg {
                                min-width: 12px;
                                min-height: 12px;
                                width: 12px;
                                height: 12px;
                                stroke: var(--primary-dark);
                                transition: stroke 0.3s ease;
                            }
                        }

                        .quantity-count {
                            font: 600 14px var(--font);
                            color: var(--primary-dark);
                            width: fit-content;
                            height: fit-content;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 8px;
                        }
                    }

                    .remove-item-btn {
                        width: fit-content;
                        height: fit-content;
                        border: 0;
                        background: none;
                        outline: none;
                        font: 400 12px var(--font);
                        color: var(--primary-dark);
                    }
                }
            }
        }
    }

    .minicart-modal-footer {
        width: 100%;
        height: fit-content;
        padding: 32px;
        border-top: 1px solid var(--pink-border);

        .price-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font: 500 16px var(--font);
                color: var(--primary-dark);
            }

            span.price {
                font: 600 20px var(--font);
                color: var(--primary-dark);
            }
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}