.hero-image-label-container {
    width: 100%;
    height: 280px;
    border-radius: 16px;
    position: relative;
    margin: 80px 0;

    img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }

    p {
        font: 600 40px var(--font);
        color: var(--white);
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 68px;
    }
}