.image-card {
    width: 100%;
    height: 100%;
    min-height: 392px;
    border-radius: 22px;
    padding: 45px 36px;

    .image-content-container {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .label-con {
            width: fit-content;
            height: fit-content;
            font: 400 10px var(--font);
            color: var(--primary-dark);
            background: var(--white);
            border-radius: 4px;
            padding: 4px 8px;
            border-radius: 4px;
            margin: 0;
        }

        .title {
            font: 500 36px var(--font);
            color: var(--white);
            margin: 0;
        }

        .subtitle {
            font: 400 24px var(--font);
            color: var(--primary-dark);
            margin: 0;
            width: 140px;

            &.three {
                width: 170px;
            }
        }
    }
}