@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --white: #ffffff;
  --primary-dark: #372035;
  --primary-light: #433D40;
  --primary-pink: #DC5F92;
  --green: #5ED34B;
  --pink: #FF96C14F;
  --pink-shade: #FFEBF3;
  --pink-shade-dark: #ecdede;
  --pink-shade-active: #fd8cbb;
  --pink-dark: #D87AA1;
  --brown-dark: #5B3925;
  --brown-shade: #EBD6B1;
  --blue: #48A1ED;
  --blue-dark: #3A4E75;
  --green-dark: #265644;
  --green-medium: #43826B;
  --red: #FF1F1F;

  --font: "Sora", sans-serif;
  --font-quick: "Quicksand", sans-serif;
}