@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --white: #ffffff;
  --primary-dark: #372035;
  --primary-light: #433D40;
  --primary-pink: #DC5F92;
  --green: #5ED34B;
  --pink: #FF96C14F;
  --pink-shade: #FFEBF3;
  --pink-dark: #D87AA1;
  --brown-dark: #5B3925;
  --brown-shade: #EBD6B1;

  --font: "Sora", sans-serif;
}