.coming-sson-content-container {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 90px 0;

    img {
        width: 156px;
        height: 142px;
    }

    .heading {
        font: 600 24px var(--font);
        color: var(--primary-dark);
        margin: 0;
    }

    .sub-heading {
        font: 400 14px var(--font);
        color: var(--primary-dark);
        margin: 0;
    }
}